:root {
  --text-Color: white;
  --border-Color: black; 
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: var(--border-Color);
    border-left: 1px solid var(--border-Color);
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid var(--text-Color);
  }
  
  .hour {
    background-color: #ffffff;
    color: var(--border-Color);
    border-top: 1px dashed var(--border-Color);
  }
  
  .past {
    background-color: #d3d3d3;
    color: var(--text-Color);
  }
  
  .present {
    background-color: #ff6961;
    color: var(--text-Color);
  }
  
  .future {
    background-color: #77dd77;
    color: var(--text-Color);
  }
  
  .saveBtn {
    border-left: 1px solid var(--border-Color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: var(--text-Color);
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }